@charset "UTF-8";
@import "libs/_lib";

.page-wrap {
    min-height: 100vh;
    padding: 20px 0;
}

.title-col {
    margin-bottom: 20px;
}

.actions-col {
    margin-top: 10px;
    text-align: center;
}

.items-list {
    width: calc(100% + 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    > .item {
        display: block;
        flex: 0 0 100%;
        padding: 0 5px;
        margin-bottom: 10px;
        .item-box {
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.45);
            border-radius: $border-radius;
            text-align: center;
            box-shadow: 0 0 15px darken($input-background-color, 15%);
            transition: 0.35s ease-in-out;
            @include eqbox(40px, 1px);
            &:hover, &:active, &.active {
                border-color: $theme-color-2;
                background: $theme-color-2;
                color: #fff;
            }
        }
        @media (min-width: 480px) {
            max-width: 33.33334%;
        }
    }
}